#home-page {
    position: relative;
    background-color: #404258;
    width: 100%;
    height: 90vh;
    padding-top: 9vh;
    background-image: url(../svgs/wave1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24vh;
    width: 60%;
    margin: auto;
    color: #fff;
}

.home-container h1 {
    font-size: 3.4rem;
    margin-bottom: 3vh;
}

.home-container p {
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width:650px) {
    #home-page {
        height: auto;
    }
}