.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 9vh;
    background-color: #404258;
    border-bottom: 1px solid #808080;
    z-index: 1;
    color: #fff;
}

.logo {
    margin-left: 6vh;
    margin-right: 2vh;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-link,
.socmed {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
}

.nav-link li a,
.socmed li a {
    margin: 0 2vh;
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease;
}

.nav-link li a:hover,
.socmed li a:hover {
    color: #add8e6;
}

.socmed {
    margin-right: 8vh;
}
